@page "/counter"
@using System.Text.Json



<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="SetI">Click me</button>
<Dbbutton Icon="Download" Variant="brand-primary" @onclick="IncrementCount">Download</Dbbutton>
<Dbcheckbox label="CHECKER" name="checkbox-name" label-hidden="true"></Dbcheckbox>
<Dbcheckbox label="Checkbox" name="checkbox-name" indeterminate="@indeterminate"></Dbcheckbox>
<Dbcheckbox label="Checkbox" name="checkbox-name" disabled></Dbcheckbox>
<Dbcheckbox label="Checkbox" name="checkbox-name"></Dbcheckbox>

<Dbinput label="Semitransparent" name="input-name"></Dbinput>

<Dblink href="#">Link</Dblink>
<Dblink href="#" icon="alarm">
    Link
</Dblink>
<Dblink href="#" target="_self">
    internal
</Dblink>

<Dblink href="#" target="_blank">
    external
</Dblink>

<Dbicon icon="account"></Dbicon>

<Dbicon icon="edit"></Dbicon>

<Dbicon icon="zoom-out"></Dbicon>
<Dbicon icon="account" variant="20-outline"></Dbicon>

<Dbicon icon="account" variant="24-outline"></Dbicon>

<Dbicon icon="account" variant="32-outline"></Dbicon>

<Dbicon icon="account" variant="48-outline"></Dbicon>

<Dbicon icon="account" variant="64-outline"></Dbicon>


<Dbloadingindicator text="gleichgar" size="m" />
<Dblogo />
<Dblogo Size="Xlarge" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private bool indeterminate = true;
    private void SetI()
    {
        indeterminate = !indeterminate;


    }
}
